.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
}

nav {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: gray;
}