
.gamelist {
    display: flex;
    flex-direction: column;
}
.game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    text-align: left;
}

img {
    width: 10em;
    min-width: 10em;
}

.game-image {
    padding-left: 1em;
}

h3 > button {
    width: 5em;
}
h3 {
    width: 100%;
}
button.x {
    background-color: red;
}
button:disabled,button[disabled]{
    background-color:gray;
}